body{
    background-size: cover!important;
    background-repeat: no-repeat!important;
    background-attachment: fixed!important;
    background-position: center!important;
}
.index-page{
    background: radial-gradient(#17c47380, #00000099), url(images/bg-1.jpg);
}
.signup-page{
    background: url(https://img.freepik.com/free-vector/money-transfer-background_115579-660.jpg?size=626&ext=jpg);
}
.bank-page{
    background: radial-gradient(#17c47380, #000000ea), url(images/bg-2.jpg);
}
.pw-page{
    background: radial-gradient(#17c47380, #000000ea), url(images/bg-3.jpg);
}
.container{
    width: 80%;
    margin: 0 auto;
}